version: "3.9"

networks:
  strapi-network:
    driver: bridge

volumes:
  postgres-data:
  strapi-uploads:

services:
  postgres:
    image: postgres:15
    container_name: postgres
    restart: unless-stopped
    environment:
      POSTGRES_USER: strapi
      POSTGRES_PASSWORD: strapi
      POSTGRES_DB: strapi
    volumes:
      - postgres-data:/var/lib/postgresql/data
    networks:
      - strapi-network
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U strapi"]
      interval: 10s
      timeout: 5s
      retries: 5

  strapi:
    image: vaishnavi0009/strapi-project:latest
    container_name: strapi
    restart: unless-stopped
    depends_on:
      postgres:
        condition: service_healthy
    env_file:
      - .env
    ports:
      - "1337:1337"
    volumes:
      - strapi-uploads:/app/public/uploads
    networks:
      - strapi-network